@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
#root {
  /*max-width: 1280px; */
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}
#socialLinks li{
  color: #4c04ab;
  font-size: 32px;
}

#projectItem{
  width: 20em;
  height: 28em;
  background-color: #E5D2FD;
  border-radius: 20px;
  border-top: 2px solid #6E05F3;
  border-left: 10px solid #6E05F3;
  border-right: 2px solid #6E05F3;
  border-bottom: 10px solid #6E05F3;
}

#projectItem h2{
  margin-top:1em;
}

.projectButton {
  width:8em;
  height: 2em;
  border:2px solid #2d0067;
  background-color: #4C03AA;
  color: #fff;
  font-family: "DM Serif Text", serif;
  border-radius: 20px;
  float:right;
  margin-top: 1em;
  margin-right: .5em;
}



.projectButton:hover, .launchGitHub:hover{
  background-color: #2d0067;
  
}

.projectButton a:hover, .launchGitHub:hover{
  text-decoration:underline;
}


.launchGitHub {
  width: 8em;
  height: 2em;
  border:2px solid #2d0067;
  background-color: #4C03AA;
  color: #fff;
  font-family: "DM Serif Text", serif;
  border-radius: 20px;
  float:left;
  margin-top: 1em;
  margin-left: .5em;
  margin-right: .5em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
